zillow/*

.Rhistory
.Rproj.user/
capstone.Rproj
data/home_sales/*.png
data/home_values/home_values.png
data/irs/????zipcode.zip
data/irs/irs_????/*.xls
data/irs/irs_????/*.xlsx



data/irs/irs_1998
data/irs/irs_2001
data/irs/irs_2002
data/irs/irs_2004
data/irs/irs_2005
data/irs/irs_2006
data/irs/irs_2007
data/irs/irs_2008
data/irs/irs_????/??zpallagi.csv
data/irs/*.tmp
data/irs/irs_????/*.tmp
data/irs/zipcode????.zip

